@tailwind base;

@layer base {
  body,
  html {
    width: 100%;
    height: 100%;
  }

  #__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    background-color: black;
  }

  .trianglify canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@tailwind components;
@tailwind utilities;
